services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - orderprocessing-network

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - orderprocessing-network
        
  api:
    build:
      context: .
      dockerfile: src/OrderProcessing.Api/Dockerfile
    image: orders-api
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Default=Host=postgres;Username=postgres;Password=postgres;Database=orders
      - Rabbit__Host=rabbitmq
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - orderprocessing-network

  worker:
    build:
      context: .
      dockerfile: src/OrderProcessing.Worker/Dockerfile
    image: orders-worker
    environment:
      - ConnectionStrings__Default=Host=postgres;Username=postgres;Password=postgres;Database=orders
      - Rabbit__Host=rabbitmq
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - orderprocessing-network

volumes:
  postgres_data:
    driver: local
  rabbitmq_data:
    driver: local

networks:
  orderprocessing-network:
    driver: bridge